/* You can add global styles to this file, and also import other style files */

html, body {
    background: linear-gradient(to right, #e0faf8, #e7f3ff);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}